
<div class="container mx-auto max-w-md p-10 h-max bg-nav mt-10 rounded-xl">
    <h1 class="text-3xl font-junge text-moradoTitulo font-bold text-center mt-3 mb-7">Codigo 2fa</h1>
    <form [formGroup]="fbGroup" class="mt-2">
    <div class="flex items-center border-b border-gray-300 py-2 m-5">
      <input formControlName="Codigo2fa" id="Codigo2fa" type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="XXXXX">
    </div>
    <div class="mb-4 mt-4">
      <button (click)="ConfirmarCodigo()" class="bg-moradoOscuro hover:bg-purple-900 text-white font-bold py-2 px-3 rounded w-full" type="button">
          Siguiente
      </button>
  </div>
    </form>
</div>