.bg-custom {
    background-image: url('https://forbes.co/_next/image?url=https%3A%2F%2Fcdn.forbes.co%2F2020%2F12%2FFuneraria.jpg%3Fv%3D1200675&w=1200&q=75');
    background-size: cover;
    background-position: center;
}