<div class="container mx-auto py-8 px-4">
    <div class="bg-custom bg-opacity-50 rounded-lg p-8 mb-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-purple-100 bg-opacity-75 rounded-lg p-6">
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge text-center">¿Qué servicios ofrece Funeraria "Renacer"?</h2>
                <p class="text-gray-700 font-junge text-center">Ofrecemos una amplia gama de servicios funerarios, incluyendo organización de funerales, cremación, traslados nacionales e internacionales, y asesoría en trámites legales.</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge text-center">¿Cómo puedo contratar sus servicios?</h2>
                <p class="text-gray-700 font-junge text-center">Puede contactarnos las 24 horas del día a través de nuestro número telefónico, nuestro sitio web o visitando cualquiera de nuestras sedes.</p>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="flex flex-col justify-center items-center bg-purple-100 p-6 rounded-lg">
            <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge text-center">¿Qué debo hacer en caso de un fallecimiento en casa?</h2>
            <p class="text-gray-700 font-junge text-center">En caso de un fallecimiento en casa, le recomendamos contactarnos inmediatamente. Nuestro equipo le guiará a través del proceso y se encargará de todos los arreglos necesarios.</p>
        </div>
        <div class="flex flex-col justify-center items-center bg-purple-100 p-6 rounded-lg">
            <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge text-center">¿Puedo planificar mi funeral con anticipación?</h2>
            <p class="text-gray-700 font-junge text-center">Sí, ofrecemos planes de pre-arreglo para que pueda planificar su funeral con anticipación, asegurando que se cumplan sus deseos y aliviando a su familia de decisiones difíciles en el futuro.</p>
        </div>
        <div class="flex flex-col justify-center items-center bg-purple-100 p-6 rounded-lg">
            <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge text-center">¿Ofrecen servicios de apoyo emocional?</h2>
            <p class="text-gray-700 font-junge text-center">Sí, contamos con un equipo de profesionales que brindan apoyo emocional y asesoría a las familias durante el proceso de duelo.</p>
        </div>
    </div>
</div>
