<body class="bg-white text-center">

    <h1 class="text-4xl font-bold mt-10 text-purple-800">Elige tu plan</h1>
    <p class="text-lg mt-2 mb-6">Asegura la tranquilidad de tus seres queridos con nuestros planes de funeraria personalizados</p>
    
    <div class="flex justify-center mb-8">
        <button class="px-4 py-2 bg-purple-300 text-white rounded-l-lg focus:outline-none">Mensual</button>
        <button class="px-4 py-2 bg-purple-300 text-white rounded-r-lg focus:outline-none">Anual</button>
    </div>
    <div id="containerPlanes" class="flex justify-center space-x-4">
        <div *ngFor="let plan of planes" class="flex flex-col p-6 rounded-lg shadow-lg bg-purple-300 text-white w-64 border-2 border-transparent hover:border-purple-500">
            <h2 class="titulo">{{ plan.nombre }}</h2>
            <p class="mensualidad">{{ plan.mensualidad }},00/mes</p>
            <ul class="detalles">
              <li>Hasta {{ plan.cantidad_beneficiarios }} beneficiarios</li>
              <li>{{ plan.detalles }}</li>
            </ul>
            <div class="flex justify-center mt-auto">
              <input type="radio" name="plan" class="w-6 h-6 text-purple-500"/>
            </div>
          </div>
        <!-- Plan Estándar 
        <div class="flex flex-col p-6 rounded-lg shadow-lg bg-purple-100 text-gray-800 w-64 border-2 border-transparent hover:border-purple-500">
            <h2 class="text-2xl font-bold mb-2">Estándar</h2>
            <p class="text-2xl font-bold mb-4">$ 60.000,00/mes</p>
            <ul class="text-left mb-4 flex-grow">
                <li>Hasta 3 beneficiarios inscritos</li>
                <li>Salas con capacidad para 30-50 personas</li>
                <li>Traslado del cuerpo</li>
                <li>Ataúd estándar</li>
                <li>Ceremonia religiosa</li>
                <li>Embalzamamiento del cuerpo</li>
                <li>Tanatopraxia</li>
            </ul>
            <div class="flex justify-center mt-auto">
                <input type="radio" name="plan" class="w-6 h-6 text-purple-500"/>
            </div>
        </div>-->
        

        <!-- Plan Gold 
        <div class="flex flex-col p-6 rounded-lg shadow-lg bg-purple-300 text-white w-64 border-2 border-transparent hover:border-purple-500">
            <h2 class="text-2xl font-bold mb-2">Gold</h2>
            <p class="text-2xl font-bold mb-4">$ 100.000,00/mes</p>
            <ul class="text-left mb-4 flex-grow">
                <li>Hasta 5 beneficiarios inscritos</li>
                <li>Salas con capacidad para 60-80 personas</li>
                <li>Traslado del cuerpo</li>
                <li>Ataúd estándar</li>
                <li>Ceremonia religiosa</li>
                <li>Lápida estándar</li>
                <li>Detalle de condolencia</li>
                <li>Embalzamamiento del cuerpo</li>
                <li>Tanatopraxia</li>
            </ul>
            <div class="flex justify-center mt-auto">
                <input type="radio" name="plan" class="w-6 h-6 text-purple-500" checked/>
            </div>
        </div>-->

        <!-- Plan Premium 
        <div class="flex flex-col p-6 rounded-lg shadow-lg bg-purple-500 text-white w-64 border-2 border-transparent hover:border-purple-700">
            <h2 class="text-2xl font-bold mb-2">Premium</h2>
            <p class="text-2xl font-bold mb-4">$ 120.000,00/mes</p>
            <ul class="text-left mb-4 flex-grow">
                <li>Hasta 8 beneficiarios inscritos</li>
                <li>Salas con capacidad para +100 personas</li>
                <li>Traslado del cuerpo</li>
                <li>Ataúd premium o cremación</li>
                <li>Ceremonia religiosa</li>
                <li>Lápida personalizada</li>
                <li>Detalle de condolencia</li>
                <li>Embalzamamiento del cuerpo</li>
                <li>Tanatopraxia</li>
            </ul>
            <div class="flex justify-center mt-auto">
                <input type="radio" name="plan" class="w-6 h-6 text-purple-700"/>
            </div>
        </div>-->
    </div>
    
    <div class="mt-6 mb-6">
        <button (click)="RedigirirARegistroOIngreso()" class="px-6 py-3 bg-purple-700 hover:bg-purple-900 text-white font-bold rounded focus:outline-none">Continuar</button>
    </div>

</body>