<div class="relative overflow-x-auto my-8 mx-4">
    <!-- Título de la tabla centrado y más grande -->
    <h2 class="text-3xl font-bold text-center mb-4 text-purple-900">Métodos de Pago</h2>
    
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-collapse border border-gray-200">
        <thead class="text-xs text-white uppercase bg-purple-900 dark:bg-purple-800">
            <tr>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Tipo
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Datos
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    CVV
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 border border-gray-300">
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let metodoPago of metodosPagos" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white border border-gray-300">
                  {{metodoPago.metodoPago?.tipoPago}}
                </td>
                <td class="px-6 py-4 border border-gray-300">
                  {{metodoPago.datos}}
                </td>
                <td class="px-6 py-4 border border-gray-300">
                    {{metodoPago.cvv}}
                  </td>
                <td class="px-6 py-4 border border-gray-300">
                  {{metodoPago.estado}}
                </td>
                <td class="px-6 py-4 border border-gray-300">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Editar
                  </button>
                </td>
                <td class="px-6 py-4 border border-gray-300">
                  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Eliminar
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
  
    <div class="flex justify-end mt-4">
        <button (click)="redirigirACrearMetodoPago()" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
            Agregar método de pago
        </button>
    </div>
  </div>