<div class="relative">
    <img src="https://i.ibb.co/HrSbVMF/Whats-App-Image-2024-05-25-at-11-50-58.jpg" alt="Header Image" class="w-full h-auto">
    <div class="absolute bottom-0 right-0 m-4">
        <a href="#" class="bg-moradoclaroboton text-white px-6 py-3 rounded-lg text-lg font-junge hover:bg-purple-800">Encuentra tu sede</a>
    </div>
</div>
<div class="services flex justify-center mt-8 ">
    <a routerLink="/parametros/adquirir-plan">
    <div class="service mx-4 text-center bg-moradoclarodivinicio shadow-lg rounded-lg p-4">
        <img src="https://i.ibb.co/6PHn3fb/Whats-App-Image-2024-05-25-at-11-51-38.jpg" alt="Nuestros Planes" class="mx-auto w-full h-40 object-cover mb-4">
        <p class="text-lg font-junge text-white">Nuestros Planes</p>
    </div>
</a>
<a routerLink="/atencion/detalles-condolencia">
    <div class="service mx-4 text-center shadow-lg rounded-lg p-4 bg-moradoclarodivinicio">
        <img src="https://i.ibb.co/XLsJLqH/Whats-App-Image-2024-05-25-at-11-51-50.jpg" alt="Detalles de Condolencia" class="mx-auto w-full h-40 object-cover mb-4">
        <p class="text-lg font-junge text-white">Detalles de Condolencia</p>
    </div>
</a>
<a href="http://127.0.0.1:5500/index.html">
    <div class="service mx-4 text-center shadow-lg rounded-lg p-4 bg-moradoclarodivinicio">
        <img src="https://i.ibb.co/9sd14K0/Whats-App-Image-2024-05-25-at-11-52-05.jpg" alt="Velación Virtual" class="mx-auto w-full h-40 object-cover mb-4">
        <p class="text-lg font-junge text-white">Velación Virtual</p>
    </div>
</a>
</div>
<div class="footer text-gray-900 text-center py-6 mt-8">
    <p class="max-w-4xl mx-auto font-junge text-lg">En Renacer, trabajamos para hacer de un momento difícil un recuerdo sereno. Acompañamos cada paso con respeto y dignidad, honrando la vida y el legado de quienes han partido. Nuestro compromiso es brindar consuelo y tranquilidad, cuidando cada detalle para que usted pueda enfocarse en lo más importante: despedirse con amor.</p>
</div>