
<div class="container mx-auto py-8 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex justify-center items-center m-6">
            <img src="https://images.adsttc.com/media/images/5164/2838/b3fc/4b2b/a700/035d/large_jpg/49Funeraria-TBA-1247.jpg?1365518388" alt="Funeraria Renacer" class="rounded-lg">
        </div>
        <div class="flex flex-col justify-center m-6">
            <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge">¿Quiénes Somos?</h2>
            <p class="text-gray-700 font-junge">Funeraria "Renacer" es una empresa dedicada a brindar servicios funerarios con compasión, respeto y profesionalismo. Desde nuestros inicios, hemos estado comprometidos con acompañar a las familias en los momentos más difíciles de sus vidas, ofreciendo un apoyo integral y cálido.</p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
        <div class="flex flex-col justify-center items-center m-3 font-junge">
            <h2 class="text-2xl font-bold text-purple-800 mb-4">Visión</h2>
            <p class="text-gray-700 font-junge">Nuestra visión en Funeraria "Renacer" es ser reconocidos como líderes en la industria funeraria, brindando servicios de la más alta calidad y siendo un apoyo constante para las familias en duelo.</p>
        </div>
        <div class="flex flex-col justify-center items-center m-3">
            <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge">Misión</h2>
            <p class="text-gray-700 font-junge">Nuestra misión es proporcionar servicios funerarios de alta calidad con compasión y profesionalismo, ayudando a las familias a honrar y celebrar la vida de sus seres queridos.</p>
        </div>
        <div class="flex flex-col justify-center items-center m-3">
            <h2 class="text-2xl font-bold text-purple-800 mb-4 font-junge">Valores Corporativos</h2>
            <ul class="text-gray-700 font-junge">
                <li>Compasión</li>
                <li>Respeto</li>
                <li>Profesionalismo</li>
                <li>Integridad</li>
                <li>Excelencia</li>
            </ul>
        </div>
    </div>
</div>
