
<div class="container mx-auto max-w-md p-10 h-max bg-nav mt-10 rounded-xl">
    <h1 class="text-3xl font-junge text-moradoTitulo font-bold text-center mt-3 mb-7">Crear una cuenta</h1>
    <form [formGroup]="fbGroup" class="mt-2">
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="usuario" id="email" type="email" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Correo electrónico">
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="primerNombre" id="primerNombre" type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Primer nombre" required>
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="segundoNombre" id="segundoNombre" type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Segundo nombre (opcional)">
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="primerApellido" id="primerApellido" type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Primer apellido" required>
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="segundoApellido" id="segundoApellido" type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Segundo apellido (opcional)">
        </div>
        <div class="flex items-center border-b border-gray-300 py-2 m-5">
            <input formControlName="celular" id="celular" type="text" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" placeholder="Celular" required>
        </div>
        <div class="mb-4">
            <button (click)="CrearUsuario()" class="bg-moradoOscuro hover:bg-purple-900 text-white font-bold py-2 px-3 rounded w-full" type="button">
                Regístrarse
            </button>
        </div>
    </form>
    <div class="mt-4 text-center">
        <p>¿No tienes una cuenta? <a routerLink="/seguridad/identificar-usuario" class="inline-block align-baseline font-bold text-sm text-moradoTitulo hover:text-purple-900">INICIA SESIÓN</a></p>
      </div>
</div>